@import "variables";

.main-content {
  margin-left: $admin-sidebar-width;
  background-color: #f7f7f7;
  font-family: "Poppins", sans-serif;
}

.page-content {
  padding: calc(70px + 1.5rem) calc(1.5rem / 2) 50px calc(1.5rem / 2);
  min-height: 100vh;
}

.card-title {
  font-size: 16px;
  margin: 0 0 7px 0;
}
