<form
  [formGroup]="categoryForm"
  (submit)="onCreateCategory() || onUpdateCategory()">
  <div class="modal-content border-0">
    <div class="modal-header justify-content-between">
      <h5 class="modal-title">{{ headingTitle }}</h5>
      <div class="modal-button cursor-pointer" (click)="handleCloseModal()">
        <span class="material-symbols-outlined">close</span>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group pb-4 col-12" required>
          <label class="form-label">Tên nhóm sản phẩm</label>
          <input
            type="text"
            class="form-control text-size-small"
            formControlName="title"
            [class.is-invalid]="
              controls['title'].errors && controls['title'].touched
            "
            [attr.readonly]="!isEdit && categoryId ? true : null" />
        </div>
      </div>
    </div>
    <div class="modal-footer border-0">
      <div class="modal-button">
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="isEdit && categoryId"
          (click)="onCancelChanged()">
          <span>Huỷ chỉnh sửa</span>
        </button>
        <button
          type="submit"
          class="btn btn-success ms-2"
          *ngIf="isEdit || !categoryId"
          (keydown.enter)="onCreateCategory() || onUpdateCategory()">
          Lưu
        </button>
        <button
          class="btn btn-success ms-2"
          *ngIf="!isEdit && categoryId"
          (click)="isEdit = !isEdit">
          Sửa
        </button>
      </div>
    </div>
  </div>
</form>
