@import "variables";
@import "color";

.footer {
  z-index: 99;
  bottom: 0;
  padding: 15px calc(1.5rem / 2);
  right: 0;
  color: #98a6ad;
  left: $admin-sidebar-width;
  height: $footer-height;
  background-color: $white;
  position: fixed;
}
