<app-breadcrumb
  title="Danh sách giá sản phẩm"
  [breadcrumbItems]="breadCrumbsItem">
</app-breadcrumb>

<div class="row">
  <div class="col-lg-12 px-4">
    <div class="card mb-4">
      <div class="card-header bg-white py-3">
        <div class="row g-4">
          <div class="col-sm">
            <div class="d-flex">
              <div class="search-box ms-2 position-relative">
                <input
                  type="text"
                  placeholder="Tìm kiếm..."
                  class="form-control search fs-14" />
                <i
                  class="mdi mdi-magnify search-widget-icon search-icon h-100 d-flex align-items-center position-absolute fs-16"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-table [data]="prices">
        <ng-template #headers>
          <ng-container *ngFor="let column of COLUMNS; trackBy: trackColumn">
            <th [ngStyle]="{ 'min-width.px': column }" scope="col">
              {{ column }}
            </th>
          </ng-container>
        </ng-template>

        <ng-template #rows let-data let-rotateClass="rotateClass">
          <ng-container>
            <td>
              <span
                appGetNameById
                [list]="productList"
                [id]="data.productId"></span>
            </td>
            <td>
              <span
                appGetNameById
                [list]="productSizeList"
                [id]="data.productSizeId"></span>
            </td>
            <td>
              {{ data.price }}
            </td>
          </ng-container>
        </ng-template>
      </app-table>
    </div>
  </div>
</div>
