@import "color";
@import "text-size";
@import "variables";

.admin-topbar {
  position: fixed;
  top: 0;
  right: 0;
  left: $admin-sidebar-width;
  z-index: 100;
  background-color: $white;
  transition: all 0.1s ease-out;
  font-family: "Poppins", sans-serif;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 70px;
  padding: 0 1.5rem 0 calc(1.5rem / 2);
}

.header-profile-user {
  height: 32px;
  width: 32px;
}

.header-item {
  background-color: #f3f3f9;
}

.user-name-text {
  font-size: 13px;
}

.page-header-user-dropdown {
  height: 70px;

  &:active {
    border: none !important;
    outline: none !important;
  }
}

.dropdown-menu {
  padding: 0;
}

.dropdown-item {
  font-size: $text-small;
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-bottom: 8px;

  &:active {
    background-color: $gray-300;
    color: $black;
  }
}
