<!-- Start Breadcrumbs -->
<app-breadcrumb
  title="Thêm sản phẩm"
  [breadcrumbItems]="breadCrumbItems"></app-breadcrumb>
<!-- End Breadcrumbs -->

<form [formGroup]="productForm" (submit)="onCreateProduct(productForm.value)">
  <div class="row">
    <div class="col-lg-8">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <label class="form-label" for="product-title-input"
              >Tên sản phẩm</label
            >
            <input
              type="text"
              class="form-control"
              id="product-title-input"
              formControlName="name" />
          </div>
          <div>
            <label>Mô tả</label>
            <ckeditor [editor]="Editor" formControlName="description">
            </ckeditor>
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0 fs-14">Upload ảnh</h5>
        </div>
        <div class="card-body">
          <div class="mb-4">
            <h5 class="fs-14 mb-1">Ảnh chính</h5>
            <input
              class="form-control"
              id="product-image-input"
              type="file"
              accept="image/png, image/gif, image/jpeg" />
          </div>
          <div>
            <h5 class="fs-14 mb-1"></h5>
            <p class="text-muted">Ảnh slide</p>
            <!-- <dropzone class="dropzone_sec"></dropzone> -->
          </div>
        </div>
      </div>
      <!-- end card -->

      <div class="text-end mb-3">
        <button type="submit" class="btn btn-success w-sm">Tạo sản phẩm</button>
      </div>
    </div>
    <!-- end col -->

    <div class="col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0 fs-14">Trạng thái</h5>
        </div>
        <div class="card-body">
          <div>
            <select
              class="form-select text-size-small"
              id="choices-publish-visibility-input"
              data-choices
              data-choices-search-false>
              <option value="show" selected>Hiển thị</option>
              <option value="hide">Ẩn</option>
            </select>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->

      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0 fs-14">Nhóm sản phẩm</h5>
        </div>
        <div class="card-body">
          <p class="text-muted mb-2">Chọn nhóm sản phẩm</p>
          <select
            formControlName="categoryId"
            class="form-select text-size-small"
            name="choices-category-input"
            data-choices
            data-choices-search-false>
            <ng-container *ngFor="let category of categories">
              <option [value]="category.id">{{ category.name }}</option>
            </ng-container>
          </select>
        </div>
        <!-- end card body -->
      </div>
      <!-- end card -->
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0 fs-14">Chọn size sản phẩm</h5>
        </div>
        <div class="card-body">
          <div class="hstack gap-3 align-items-start">
            <select
              formControlName="productSizeId"
              class="form-select text-size-small"
              name="choices-category-input"
              data-choices
              data-choices-search-false>
              <ng-container *ngFor="let productSize of productSizes">
                <option [value]="productSize.id">{{ productSize.name }}</option>
              </ng-container>
            </select>
          </div>
        </div>
        <!-- end card body -->
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0 fs-14">Giá sản phẩm</h5>
        </div>
        <div class="card-body">
          <input type="number" formControlName="price" class="form-control" />
        </div>
        <!-- end card body -->
      </div>
    </div>
  </div>
</form>

<!-- end row -->
