<form
  [formGroup]="productSizeForm"
  (submit)="onCreateProductSize() || onUpdateProductSize()">
  <div class="modal-content border-0">
    <div class="modal-header justify-content-between align-items-center pb-3">
      <h5 class="modal-title">{{ headingTitle }}</h5>
      <div class="modal-button cursor-pointer" (click)="handleCloseModal()">
        <i class="ri-close-line fs-24"></i>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="form-group pb-4 col-12" required>
          <label class="form-label">Số size</label>
          <input
            type="text"
            class="form-control text-size-small"
            formControlName="name"
            [class.is-invalid]="
              controls['name'].errors && controls['name'].touched
            "
            [attr.readonly]="!isEdit && productSizeId ? true : null" />
        </div>
      </div>
    </div>
    <div class="modal-footer border-0">
      <div class="modal-button">
        <button
          type="button"
          class="btn btn-danger"
          *ngIf="isEdit && productSizeId"
          (click)="onCancelChanged()">
          <span>Huỷ chỉnh sửa</span>
        </button>
        <button
          type="submit"
          class="btn btn-success ms-2"
          *ngIf="isEdit || !productSizeId"
          (keydown.enter)="onCreateProductSize() || onUpdateProductSize()">
          Lưu
        </button>
        <button
          class="btn btn-success ms-2"
          *ngIf="!isEdit && productSizeId"
          (click)="isEdit = !isEdit">
          Sửa
        </button>
      </div>
    </div>
  </div>
</form>
