<!-- Start Breadcrumbs -->
<app-breadcrumb
  title="Chi tiết đơn hàng"
  [breadcrumbItems]="breadCrumbItems"></app-breadcrumb>
<!-- End Breadcrumbs -->

<ng-container *ngIf="orderDetail$ | async as order">
  <div class="row">
    <div class="col-xl-9">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h5 class="card-title flex-grow-1 mb-0">
              Chi tiết đơn hàng #{{ order?.id }}
            </h5>
            <div class="flex-shrink-0">
              <a routerLink="/invoices/details" class="btn btn-success btn-sm"
                ><i class="ri-download-2-fill align-middle me-1"></i>
                <span class="fs-12">Xuất hoá đơn</span></a
              >
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive table-card">
            <table
              class="table table-nowrap align-middle table-borderless mb-0">
              <thead class="table-light text-muted">
                <tr>
                  <th scope="col">Chi tiết sản phẩm</th>
                  <th scope="col">Giá</th>
                  <th scope="col">Số lượng</th>
                  <th scope="col">Đánh giá</th>
                  <th scope="col" class="text-end">Tổng tiền</th>
                </tr>
              </thead>
              <tbody>
                <ng-container *ngIf="detailProducts$ | async as detailProduct">
                  <tr *ngFor="let product of detailProduct">
                    <td>
                      <div class="d-flex">
                        <div
                          class="flex-shrink-0 avatar-md bg-light rounded p-1">
                          <img
                            [src]="
                              createCloudinaryImageLink(
                                product?.productInfo?.coverImage
                              )
                            "
                            alt=""
                            class="img-fluid d-block" />
                        </div>
                        <div class="flex-grow-1 ms-3">
                          <h5 class="fs-14">
                            <a
                              routerLink="/ecommerce/product-detail/1"
                              class="text-body"
                              >{{ product?.productInfo?.name }}</a
                            >
                          </h5>
                          <p class="text-muted mb-0">
                            Size:
                            <span class="fw-medium">{{
                              product?.productSize?.name
                            }}</span>
                          </p>
                        </div>
                      </div>
                    </td>
                    <td>
                      {{ product?.detail?.priceAtPurchase | formatPrice }}
                    </td>
                    <td>{{ product?.detail?.quality }}</td>
                    <td>
                      <div class="text-warning fs-15">
                        <i class="ri-star-fill"></i><i class="ri-star-fill"></i
                        ><i class="ri-star-fill"></i><i class="ri-star-fill"></i
                        ><i class="ri-star-half-fill"></i>
                      </div>
                    </td>
                    <td class="fw-medium text-end">
                      {{
                        product?.detail?.priceAtPurchase *
                          product?.detail?.quality | formatPrice
                      }}
                    </td>
                  </tr>
                </ng-container>
                <tr class="border-top border-top-dashed">
                  <td colspan="3"></td>
                  <td colspan="2" class="fw-medium p-0">
                    <table class="table table-borderless mb-0">
                      <tbody>
                        <tr>
                          <td>Tổng hoá đơn :</td>
                          <td class="text-end">
                            {{ order?.subtotalPrice | formatPrice }}
                          </td>
                        </tr>
                        <tr>
                          <td>
                            Khuyến mãi
                            <span class="text-muted">{{
                              order?.couponCode
                            }}</span>
                            :
                          </td>
                          <td class="text-end">-0đ</td>
                        </tr>
                        <tr>
                          <td>Phí vận chuyển :</td>
                          <td class="text-end">
                            {{ order?.deliveryCharge | formatPrice }}
                          </td>
                        </tr>
                        <tr class="border-top border-top-dashed">
                          <th scope="row">Tổng thanh toán :</th>
                          <th class="text-end">
                            {{ order?.totalPrice | formatPrice }}
                          </th>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--end card-->
      <div class="card">
        <div class="card-header">
          <div class="d-sm-flex align-items-center">
            <ng-container *ngIf="this.orderStatus$ | async as orderStatus">
              <h5 class="card-title flex-grow-1 mb-0">Trạng thái đơn hàng</h5>
              <div
                class="flex-shrink-0 mt-2 mt-sm-0 d-flex gap-1 align-items-center">
                <div
                  class="badge fs-13 text-white p-2"
                  ngClass="bg-{{ orderStatus | orderStatusColor }}">
                  {{ orderStatus | orderStatus }}
                </div>
                <div class="dropdown">
                  <a
                    class="btn btn-soft-dark btn-sm mt-2 mt-sm-0"
                    role="button"
                    id="dropdownMenuLink1"
                    data-bs-toggle="dropdown"
                    aria-expanded="true">
                    Đổi trạng thái</a
                  >

                  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink1">
                    <li
                      (click)="verifyOrder()"
                      *ngIf="orderStatus === ORDER_STATUS.WAIT_VERIFY">
                      <a class="dropdown-item fs-13 cursor-pointer">Duyệt</a>
                    </li>
                    <li
                      (click)="deliveryOrder()"
                      *ngIf="orderStatus === ORDER_STATUS.VERIFIED">
                      <a class="dropdown-item fs-13 cursor-pointer"
                        >Chờ giao hàng</a
                      >
                    </li>
                    <li
                      (click)="verifyReceivedOrder()"
                      *ngIf="orderStatus === ORDER_STATUS.WAIT_RECEIVE">
                      <a class="dropdown-item fs-13 cursor-pointer"
                        >Đã giao hàng</a
                      >
                    </li>
                    <li
                      (click)="cancelOrder()"
                      *ngIf="orderStatus !== ORDER_STATUS.RECEIVED">
                      <a class="dropdown-item fs-13 cursor-pointer"
                        >Huỷ đơn hàng</a
                      >
                    </li>
                  </ul>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
        <div class="card-body">
          <div class="profile-timeline order-status">
            <div>
              <a class="accordion-button p-2 shadow-none">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 avatar-xs">
                    <div class="avatar-title bg-success rounded-circle">
                      <i class="ri-shopping-bag-line"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="fs-14 mb-0">
                      Đơn đã đặt hàng -
                      <span class="fw-normal">{{
                        order.createdAt | date : "dd/MM/YYYY"
                      }}</span>
                    </h6>
                  </div>
                </div>
              </a>
              <a class="accordion-button p-2 shadow-none">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 avatar-xs">
                    <div class="avatar-title bg-success rounded-circle">
                      <i class="mdi mdi-gift-outline"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="fs-14 mb-1">
                      Đã đóng hàng -
                      <span class="fw-normal">16/02/2024</span>
                    </h6>
                  </div>
                </div>
              </a>
              <a class="accordion-button p-2 shadow-none">
                <div class="d-flex align-items-center">
                  <div class="flex-shrink-0 avatar-xs">
                    <div class="avatar-title bg-success rounded-circle">
                      <i class="ri-truck-line"></i>
                    </div>
                  </div>
                  <div class="flex-grow-1 ms-3">
                    <h6 class="fs-14 mb-1">
                      Đang giao hàng -
                      <span class="fw-normal">18/02/2024</span>
                    </h6>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <!--end col-->
    <div class="col-xl-3">
      <div class="card">
        <div class="card-header">
          <div class="d-flex">
            <h5 class="card-title flex-grow-1 mb-0">Khách hàng</h5>
          </div>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mb-0 vstack gap-3">
            <li>
              <div class="d-flex align-items-center">
                <div class="flex-shrink-0">
                  <img
                    src="assets/images/users/avatar-3.jpg"
                    alt=""
                    class="avatar-sm rounded" />
                </div>
                <div class="flex-grow-1 ms-3">
                  <h6 class="fs-14 mb-1">{{ order?.customerName }}</h6>
                  <p class="text-muted mb-0">Khách hàng</p>
                </div>
              </div>
            </li>
            <li>
              <i class="ri-mail-line me-2 align-middle text-muted fs-16"></i
              ><span>{{ order?.email || "Không" }}</span>
            </li>
            <li>
              <i class="ri-phone-line me-2 align-middle text-muted fs-16"></i
              ><span>{{ order?.phone }}</span>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">
            <i class="ri-map-pin-line align-middle me-1 text-muted"></i> Địa chỉ
            giao hàng
          </h5>
        </div>
        <div class="card-body">
          <ul class="list-unstyled vstack gap-2 fs-13 mb-0">
            <li class="fw-medium fs-14">{{ order?.customerName }}</li>
            <li>{{ order?.phone }}</li>
            <li>{{ order?.receivedAddress }}</li>
          </ul>
        </div>
      </div>
      <!--end card-->

      <div class="card">
        <div class="card-header">
          <h5 class="card-title mb-0">
            <i class="ri-secure-payment-line align-bottom me-1 text-muted"></i>
            Chi tiết thẻ
          </h5>
        </div>
        <div class="card-body">
          <div class="d-flex align-items-center mb-2">
            <div class="flex-shrink-0">
              <p class="text-muted mb-0">Mã thẻ:</p>
            </div>
            <div class="flex-grow-1 ms-2">
              <span class="mb-0">#VLZ124561278124</span>
            </div>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="flex-shrink-0">
              <p class="text-muted mb-0">Phương thức thanh toán:</p>
            </div>
            <div class="flex-grow-1 ms-2">
              <span class="mb-0">Debit Card</span>
            </div>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="flex-shrink-0">
              <p class="text-muted mb-0">Tên chủ thẻ:</p>
            </div>
            <div class="flex-grow-1 ms-2">
              <span class="mb-0">Joseph Parker</span>
            </div>
          </div>
          <div class="d-flex align-items-center mb-2">
            <div class="flex-shrink-0">
              <p class="text-muted mb-0">Số thẻ:</p>
            </div>
            <div class="flex-grow-1 ms-2">
              <span class="mb-0">xxxx xxxx xxxx 2456</span>
            </div>
          </div>
          <div class="d-flex align-items-center">
            <div class="flex-shrink-0">
              <p class="text-muted mb-0">Tổng tiền:</p>
            </div>
            <div class="flex-grow-1 ms-2">
              <span class="mb-0">{{ order?.totalPrice | formatPrice }}</span>
            </div>
          </div>
        </div>
      </div>
      <!--end card-->
    </div>
    <!--end col-->
  </div>
</ng-container>
<!--end row-->
