<app-breadcrumb
  title="Danh sách size sản phẩm"
  [breadcrumbItems]="breadCrumbsItem">
</app-breadcrumb>

<div class="row">
  <div class="col-lg-12 px-4">
    <div class="card mb-4">
      <div class="card-header bg-white py-3">
        <div class="row g-4">
          <div class="col-sm">
            <div class="d-flex">
              <div class="search-box ms-2 position-relative">
                <input
                  type="text"
                  placeholder="Tìm kiếm..."
                  class="form-control search fs-14" />
                <i
                  class="mdi mdi-magnify search-widget-icon search-icon h-100 d-flex align-items-center position-absolute fs-16"></i>
              </div>
            </div>
          </div>
          <div
            class="col-sm-auto justify-content-sm-end"
            (click)="onOpenAddModal()"
            *ngIf="role === 'admin'">
            <button class="btn btn-success add-btn">
              <i class="ri-add-line align-bottom"></i>
              <span class="fs-14 ms-2">Thêm</span>
            </button>
          </div>
        </div>
      </div>
      <app-table [data]="sizes">
        <ng-template #headers>
          <ng-container *ngFor="let column of COLUMNS; trackBy: trackColumn">
            <th [ngStyle]="{ 'min-width.px': column }" scope="col">
              {{ column }}
            </th>
          </ng-container>
        </ng-template>

        <ng-template #rows let-data let-rotateClass="rotateClass">
          <ng-container>
            <td>
              {{ data.name }}
            </td>
            <td>
              <span>
                <div class="dropdown" ngbDropdown>
                  <button
                    class="btn btn-soft-secondary btn-sm dropdown arrow-none"
                    type="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                    ngbDropdownToggle>
                    <i class="ri-more-fill"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <li
                      [class.not-allowed]="role === 'staff'"
                      class="dropdown-item cursor-pointer"
                      (click)="onOpenEditModal(data.id)">
                      <i
                        class="ri-pencil-fill align-bottom me-2 text-muted"></i>
                      <span class="fs-14">Sửa</span>
                    </li>
                    <li class="dropdown-divider"></li>
                    <li
                      [class.not-allowed]="role === 'staff'"
                      class="dropdown-item cursor-pointer"
                      (click)="onDeleteProductSize(data.id)">
                      <i
                        class="ri-delete-bin-fill align-bottom me-2 text-muted"></i>
                      <span class="fs-14"> Xoá</span>
                    </li>
                  </ul>
                </div>
              </span>
            </td>
          </ng-container>
        </ng-template>
      </app-table>
    </div>
  </div>
</div>
