$black: #000;
$white: #fff;
$gray-lighter: #d1d1d1;
$primary-color: #c88979;
$brown: #333;
$red: #ea4335;
$blue: #4285f4;

//gray color
$gray-100: #f3f6f9;
$gray-200: #eff2f7;
$gray-300: #e9ebec;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #878a99;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;

.color-black {
  color: $black;
}

.bg-black {
  background-color: $black;
}

.color-white {
  color: $white;
}

.color-brown {
  color: $brown;
}

.bg-white {
  background-color: $white;
}

.color-gray-lighter {
  color: $gray-lighter;
}

.bg-gray-lighter {
  background-color: $gray-lighter;
}

.primary-color {
  color: $primary-color;
}

.bg-primary-color {
  background-color: $primary-color;
}
