<div class="navbar-menu position-fixed">
  <div class="navbar-brand-box">
    <div class="logo text-center my-4">
      <img
        src="https://www.watchstore.vn/upload/image/logo-watchstore.webp"
        alt="" />
    </div>
  </div>
  <div class="scrollbar">
    <ngx-simplebar class="sidebar-menu-scroll">
      <ul class="menu-list list-unstyled navbar-nav">
        <li class="menu-item">
          <a
            class="nav-link menu-link cursor-pointer"
            (click)="router.navigate(['/dashboard']).then()">
            <span class="material-symbols-outlined me-2"> dashboard </span>
            <span class="menu-text">Trang chủ</span>
          </a>
        </li>
        <li class="menu-item">
          <a
            class="nav-link menu-link cursor-pointer"
            (click)="router.navigate(['/customer-management']).then()">
            <span class="material-symbols-outlined me-2"> support_agent </span>
            <span class="menu-text">Quản lý tài khoản</span>
          </a>
        </li>
        <li class="menu-item">
          <a
            class="nav-link menu-link cursor-pointer"
            (click)="router.navigate(['/product-category-management']).then()">
            <span class="material-symbols-outlined me-2"> category </span>
            <span class="menu-text">Quản lý nhóm sản phẩm</span>
          </a>
        </li>
        <li class="menu-item">
          <a
            class="nav-link menu-link cursor-pointer"
            (click)="router.navigate(['/product-management']).then()">
            <span class="material-symbols-outlined me-2"> watch </span>
            <span class="menu-text">Quản lý sản phẩm</span>
          </a>
        </li>
        <li class="menu-item">
          <a class="nav-link menu-link cursor-pointer">
            <span class="material-symbols-outlined me-2"> orders </span>
            <span class="menu-text">Quản lý đơn hàng</span>
          </a>
        </li>
      </ul>
    </ngx-simplebar>
  </div>
</div>
