/* You can add global styles to this file, and also import other style files */
@import "text-size";
@import "color";

// regular style toast
@import "ngx-toastr/toastr";

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  height: 100%;
  line-height: 1.5;
}

body {
  font-size: $text-small;
}

button,
input {
  outline: none;
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  color: unset;
  display: block;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.mb-30 {
  margin-bottom: 30px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-60 {
  margin-bottom: 60px;
}

.mt-60 {
  margin-top: 60px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pt-60 {
  padding-top: 60px;
}

.pb-60 {
  padding-bottom: 60px;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.cursor-pointer {
  cursor: pointer;
}

.page-title-box {
  padding: 10px 1.5rem;
  background-color: $white;
  box-shadow: 0 1px 2px rgba(56, 65, 74, 0.15);
  margin: -23px -10px 1.5rem;

  .breadcrumb {
    background-color: transparent;
    padding: 0;
  }

  h4 {
    font-weight: 700;
    font-size: 15px !important;
    text-transform: uppercase;
  }
}

.breadcrumb-item {
  + .breadcrumb-item {
    &::before {
      font-family: "Material Design Icons";
      font-size: 15px;
      line-height: 20px;
    }
  }
}

.table > thead {
  border-color: $gray-300;
}

.table-nowrap th,
.table-nowrap td {
  white-space: nowrap;
}

.table > :not(caption) > * > * {
  padding: 0.75rem 0.6rem;
  background-color: transparent;
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px transparent;
}

.btn,
input {
  font-size: $text-small !important;
}

label {
  font-weight: 500;
}

input:read-only {
  opacity: 0.7;
}

//
// _authentication.scss
//

.auth-page-wrapper {
  .auth-page-content {
    padding-bottom: 50px;
    position: relative;
    z-index: 2;
    width: 100%;
  }
  .footer {
    left: 0;
    background-color: transparent;
    color: $body-color;
  }
}

.auth-one-bg-position {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 380px;

  @media (max-width: 575.98px) {
    height: 280px;
  }
}

.auth-one-bg {
  // background-image: url("../src/assets/images/default/auth-one-bg.jpg");
  background-position: center;
  background-size: cover;

  .bg-overlay {
    background: linear-gradient(to right, #364574, #405189);
    opacity: 0.9;
    position: absolute;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    left: 0;
    top: 0;
  }

  .shape {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
    pointer-events: none;
    > svg {
      width: 100%;
      height: auto;
      fill: #f3f3f9;
    }
  }
}

// auth-pass-inputgroup

.auth-pass-inputgroup {
  input[type="text"] + .btn .ri-eye-fill {
    &:before {
      content: "\ecb6";
    }
  }
}

.particles-js-canvas-el {
  position: relative;
  width: 100%;
  height: 100%;
}

// signin card title

.signin-other-title {
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    left: 0;
    right: 0;
    border-top: 1px dashed gray;
    top: 10px;
  }

  .title {
    display: inline-block;
    position: relative;
    z-index: 9;
    padding: 2px 16px;
  }
}

// Auth cover

.auth-bg-cover {
  background: linear-gradient(-45deg, #002476 50%, #0ab39c);

  > .bg-overlay {
    // background-image: url("../src/assets/images/default/cover-pattern.png");
    background-position: center;
    background-size: cover;
    opacity: 1;
    background-color: transparent;
  }

  .footer {
    color: rgba($white, 0.5);
  }
}

//passowrd validations
#password-contain {
  display: none;

  p {
    padding-left: 13px;

    &.valid {
      color: $success;

      &::before {
        position: relative;
        left: -8px;
        content: "✔";
      }
    }

    &.invalid {
      color: $danger;

      &::before {
        position: relative;
        left: -8px;
        content: "✖";
      }
    }
  }
}

.dropdown-item:active {
  background-color: unset !important;
  color: #000;
}

.btn-check:checked + .btn,
:not(.btn-check) + .btn:active,
.btn:first-child:active,
.btn.active,
.btn.show {
  border-color: transparent;
}

.not-allowed {
  cursor: not-allowed;
  opacity: 0.6;
  pointer-events: none;
}

.form-group[required] label:after {
  content: " *";
  color: red;
}
